# ClusterShell groups config local.cfg
#
# Replace /etc/clustershell/groups
#
# Note: file auto-loaded unless /etc/clustershell/groups is present
#
# See also groups.d/cluster.yaml.example for an example of multiple
# sources single flat file setup using YAML syntax.
#
# Feel free to edit to fit your needs.
datanodes: hadoopdn[1-3].estpak.ee
manager: hadoopmgmt.estpak.ee
namenodes: hadoopnn[1-2].estpak.ee






